# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Sensitive Configuration (NEVER COMMIT THIS)
config.json
cookie.txt
rclone.conf
.env

# Temp download folder
tmp/
